.version.index /* version checker */
{
	color: #0000E9;
	background-color: #0C370F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.7639999999901px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -43px;
	margin-bottom: -80px;
	width: 0.01px;
}

#pu893
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: -100px;
}

#u893
{
	z-index: 258;
	height: 9px;
	background-color: #DCDCDC;
}

#u893-bw
{
	z-index: 258;
	height: 9px;
}

#pinicio
{
	width: 0.01px;
	margin-top: -9px;
}

#inicio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u892
{
	z-index: 218;
	min-height: 178px;
	background-color: #FFFFFF;
}

#u937
{
	z-index: 256;
	overflow: hidden;
	position: relative;
	width: 139px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 143px;
}

#menuu894
{
	z-index: 219;
	width: 733px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 307px;
}

#u895
{
	width: 96px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u896
{
	width: 96px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u896:hover
{
	background-color: #BF4083;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u896.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u899-4
{
	width: 41px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u896:hover #u899-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u896.MuseMenuActive #u899-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u896:hover #u899-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u916
{
	width: 100px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u919
{
	width: 100px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u919:hover
{
	background-color: #BF4083;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u919.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u920-4
{
	width: 46px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u919:hover #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u919.MuseMenuActive #u920-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u919:hover #u920-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u930
{
	width: 124px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u931
{
	width: 124px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u931:hover
{
	background-color: #BF4083;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u931.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u934-4
{
	width: 70px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u931:hover #u934-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u931.MuseMenuActive #u934-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u931:hover #u934-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u909
{
	width: 141px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u910
{
	width: 141px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u910:hover
{
	background-color: #BF4083;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u910.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u913-4
{
	width: 87px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u910:hover #u913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u910.MuseMenuActive #u913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u910:hover #u913-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u902
{
	width: 152px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 461px;
}

#u903
{
	width: 152px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u903:hover
{
	background-color: #BF4083;
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u903.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u905-4
{
	width: 98px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u903:hover #u905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u903.MuseMenuActive #u905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u903:hover #u905-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u923
{
	width: 120px;
	min-height: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 613px;
}

#u924
{
	width: 120px;
	background-color: transparent;
	padding-bottom: 151px;
	position: relative;
}

#u924:hover
{
	background-color: #BF4083;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u924.MuseMenuActive
{
	background-color: #F5F5F5;
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u926-4
{
	width: 66px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 75px;
	left: 27px;
}

#u924:hover #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u924.MuseMenuActive #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u924:hover #u926-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u896.MuseMenuActive #u899-4 p,#u919.MuseMenuActive #u920-4 p,#u931.MuseMenuActive #u934-4 p,#u910.MuseMenuActive #u913-4 p,#u903.MuseMenuActive #u905-4 p,#u924.MuseMenuActive #u926-4 p
{
	color: #000000;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u892-bw
{
	z-index: 218;
	min-height: 178px;
	margin-top: 1px;
}

#u939
{
	z-index: 257;
	width: 120px;
	height: 51px;
	position: relative;
	margin-right: -10000px;
	left: 920px;
	background: #FFFFFF url("../images/login-normal.png") no-repeat left top;
	background-size: contain;
}

#u939:hover
{
	width: 120px;
	height: 51px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/login-over.png") no-repeat left top;
	background-size: contain;
}

#u939:active
{
	width: 120px;
	height: 51px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/login-normal.png") no-repeat left top;
	background-size: contain;
}

#pu1086
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1086
{
	z-index: 2;
	width: 928px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2778px;
	left: 112px;
}

#u1086_clip
{
	overflow: hidden;
	width: 928px;
	height: 650px;
}

#u1086_img
{
	margin-top: -7px;
	margin-bottom: 7px;
}

#u1085
{
	z-index: 4;
	min-height: 670px;
	background-color: #C75A94;
	background-color: rgba(191,64,131,0.86);
	-pie-background: rgba(191,64,131,0.86);
}

#u1085_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 106px;
	padding-bottom: 132px;
}

#u1093-6
{
	z-index: 209;
	width: 464px;
	min-height: 139px;
	background-color: transparent;
	line-height: 120px;
	left: 438px;
	position: relative;
}

#u1092-7
{
	z-index: 202;
	width: 286px;
	background-color: transparent;
	line-height: 17px;
	color: #FFFFFF;
	text-align: left;
	left: 438px;
	margin-top: 17px;
	position: relative;
}

#u1085-bw
{
	z-index: 4;
	min-height: 670px;
	margin-top: 2724px;
}

#u1079
{
	z-index: 5;
	min-height: 859.6082815735008px;
	background-color: #FCEE21;
	padding-bottom: 0px;
}

#u1079_position_content
{
	padding-bottom: 316px;
}

#historias
{
	left: 8px;
	position: relative;
}

#u1077-4
{
	z-index: 184;
	width: 921px;
	min-height: 107px;
	border-style: solid;
	border-color: #BF4083;
	background-color: transparent;
	line-height: 120px;
	left: 115px;
	margin-top: 111px;
	position: relative;
	border-width: 0px 0px 1px;
}

#ppu1014
{
	width: 0.01px;
	left: 108px;
	margin-top: 61px;
	position: relative;
}

#pu1014
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1014
{
	z-index: 145;
	width: 131px;
	height: 124px;
	border-style: solid;
	border-color: #7BBBBA;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	border-width: 0px 0px 6px;
	background: transparent url("../images/rosto-quadrado_oculos-ideal-ieu1014-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/rosto-quadrado_oculos-ideal.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1015-6
{
	z-index: 150;
	width: 146px;
	min-height: 83px;
	border-style: solid;
	border-color: #7BBBBA;
	background-color: transparent;
	text-align: center;
	margin-top: 7px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1027
{
	z-index: 180;
	width: 1px;
	height: 192px;
	background-color: #BF4083;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 168px;
}

#pu1029
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 197px;
}

#u1029
{
	z-index: 146;
	width: 131px;
	height: 124px;
	border-style: solid;
	border-color: #7BBBBA;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	border-width: 0px 0px 6px;
	background: transparent url("../images/brincos-scarlett_johansson_72-ieu1029-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/brincos-scarlett_johansson_72.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1030-6
{
	z-index: 156;
	width: 146px;
	min-height: 83px;
	border-style: solid;
	border-color: #7BBBBA;
	background-color: transparent;
	text-align: center;
	margin-top: 7px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1028
{
	z-index: 181;
	width: 1px;
	height: 192px;
	background-color: #BF4083;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 365px;
}

#pu1035
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 395px;
}

#u1035
{
	z-index: 147;
	width: 131px;
	height: 124px;
	border-style: solid;
	border-color: #7BBBBA;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	border-width: 0px 0px 6px;
	background: transparent url("../images/rosto-oval-mpm-ieu1035-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/rosto-oval-mpm.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1036-6
{
	z-index: 162;
	width: 146px;
	min-height: 83px;
	border-style: solid;
	border-color: #7BBBBA;
	background-color: transparent;
	text-align: center;
	margin-top: 7px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1034
{
	z-index: 182;
	width: 1px;
	height: 192px;
	background-color: #BF4083;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 563px;
}

#pu1042
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 592px;
}

#u1042
{
	z-index: 148;
	width: 131px;
	height: 124px;
	border-style: solid;
	border-color: #7BBBBA;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	border-width: 0px 0px 6px;
	background: transparent url("../images/indiozinho-ieu1042-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/indiozinho.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u1043-6
{
	z-index: 168;
	width: 146px;
	min-height: 83px;
	border-style: solid;
	border-color: #7BBBBA;
	background-color: transparent;
	text-align: center;
	margin-top: 7px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1041
{
	z-index: 183;
	width: 1px;
	height: 192px;
	background-color: #BF4083;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 760px;
}

#pu1045
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 790px;
}

#u1045
{
	z-index: 149;
	width: 131px;
	height: 124px;
	border-style: solid;
	border-color: #7BBBBA;
	border-radius: 100px;
	margin-left: 7px;
	position: relative;
	border-width: 0px 0px 6px;
	background: transparent url("../images/11880364_1034533539892472_4885798475589099097_n-ieu1045-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/11880364_1034533539892472_4885798475589099097_n.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain;
}

#u1046-6
{
	z-index: 174;
	width: 146px;
	min-height: 83px;
	border-style: solid;
	border-color: #7BBBBA;
	background-color: transparent;
	text-align: center;
	margin-top: 7px;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1015-2,#u1030-2,#u1036-2,#u1043-2,#u1046-2
{
	font-size: 28px;
	line-height: 34px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
}

#u1015-4,#u1030-4,#u1036-4,#u1043-4,#u1046-4
{
	font-size: 14px;
	font-family: proxima-nova-alt, sans-serif;
	font-weight: 300;
}

#u1079-bw
{
	z-index: 5;
	min-height: 859.6082815735008px;
	margin-top: 3394px;
}

#u949
{
	z-index: 6;
	min-height: 2139.8320000000003px;
	padding-bottom: 0px;
	background: transparent url("../images/bg-linhas_logo.png") repeat left top;
}

#u949_position_content
{
	padding-bottom: 34px;
}

#u216
{
	z-index: 7;
	width: 920px;
	background-color: #FCEE21;
	padding-bottom: 0px;
	left: 120px;
	position: relative;
}

#u216_position_content
{
	margin-bottom: -53px;
	padding-top: 133px;
}

#sobre
{
	position: relative;
}

#u560
{
	z-index: 69;
	width: 400px;
	height: 1px;
	background-color: #BF4083;
	margin-left: 260px;
	margin-top: 91px;
	position: relative;
}

#u89
{
	z-index: 14;
	width: 351px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 167px;
	position: relative;
}

#donar
{
	left: 120px;
	margin-top: 238px;
	position: relative;
}

#u974
{
	z-index: 77;
	left: 427px;
	margin-top: 54px;
	position: relative;
}

#u1011-17
{
	z-index: 52;
	width: 447px;
	min-height: 469px;
	background-color: transparent;
	left: 357px;
	margin-top: 81px;
	position: relative;
}

#u1011-2,#u1011-7,#u1011-11,#u1011-15
{
	line-height: 17px;
}

#pu1100
{
	width: 0.01px;
	left: 402px;
	margin-top: 3px;
	position: relative;
}

#u1100
{
	z-index: 201;
	width: 82px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/btn_donar-over-u1100-fr.png") no-repeat left top;
	background-size: contain;
}

#u1100:hover
{
	width: 82px;
	height: 71px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_donar-over-u1100-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u1100:active
{
	width: 82px;
	height: 71px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/btn_donar-over-u1100-fr.png") no-repeat left top;
	background-size: contain;
}

#u1101-4
{
	z-index: 196;
	width: 324px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	text-align: left;
	font-size: 31px;
	line-height: 37px;
	font-family: proxima-nova, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 91px;
}

#seja
{
	left: 119px;
	margin-top: 138px;
	position: relative;
}

#u949-bw
{
	z-index: 6;
	min-height: 2139.8320000000003px;
	margin-top: 690px;
}

#u1084
{
	z-index: 8;
	width: 532px;
	height: 117px;
	background-color: #BF4083;
	border-radius: 0px 0px 0px 26px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 1516px;
	left: 508px;
}

#u260
{
	z-index: 11;
	width: 920px;
	height: 52px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u81
{
	z-index: 12;
	height: 700px;
	-pie-box-shadow: 0px 2px 2px #CCCCCC;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	background: #00A99D url("../images/bola.jpg") no-repeat left top;
	background-size: cover;
}

#u81-bw
{
	z-index: 12;
	margin-top: 1px;
	height: 700px;
}

#u366
{
	z-index: 13;
	min-height: 700px;
	background-color: #56C6BE;
	background-color: rgba(0,169,157,0.66);
	-pie-background: rgba(0,169,157,0.66);
}

#u366_position_content
{
	margin-bottom: -39px;
	padding-top: 37px;
}

#u359
{
	z-index: 28;
	width: 100px;
	height: 100px;
	background-color: #FCEE21;
	border-radius: 72px;
	left: 530px;
	position: relative;
}

#u368
{
	z-index: 35;
	width: 400px;
	height: 1px;
	background-color: #FFFFFF;
	left: 380px;
	margin-top: 247px;
	position: relative;
}

#u345-6
{
	z-index: 22;
	width: 490px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	left: 335px;
	margin-top: 22px;
	position: relative;
}

#u345-2
{
	font-size: 33px;
	line-height: 45px;
	color: #FCEE21;
}

#u345-4
{
	font-size: 18px;
	line-height: 24px;
	padding-top: 5px;
	color: #FFFFFF;
}

#u153-4
{
	z-index: 16;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 45px;
	line-height: 54px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	left: 120px;
	margin-top: 60px;
	position: relative;
}

#u238
{
	z-index: 20;
	width: 116px;
	height: 93px;
	left: 522px;
	margin-top: 3px;
	position: relative;
	background: transparent url("../images/btn_donar-over-normal.png") no-repeat left top;
	background-size: contain;
}

#u238:hover
{
	width: 116px;
	height: 93px;
	min-height: 0px;
	margin: 3px 0px 0px;
	background: transparent url("../images/btn_donar-over-over.png") no-repeat left top;
	background-size: contain;
}

#u238:active
{
	width: 116px;
	height: 93px;
	min-height: 0px;
	margin: 3px 0px 0px;
	background: transparent url("../images/btn_donar-over-normal.png") no-repeat left top;
	background-size: contain;
}

#u366-bw
{
	z-index: 13;
	min-height: 700px;
	margin-top: 2px;
}

#u346-6
{
	z-index: 29;
	width: 600px;
	min-height: 280px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 280px;
}

#u346-2
{
	font-size: 96px;
	line-height: 115px;
	color: #BF4083;
	font-family: proxima-nova, sans-serif;
	font-weight: 900;
}

#u346-4
{
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	font-family: proxima-nova, sans-serif;
	font-weight: 100;
}

#u556-16
{
	z-index: 36;
	width: 448px;
	min-height: 469px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1127px;
	left: 528px;
}

#u1011-5,#u1011-9,#u1011-13,#u556-4,#u556-8,#u556-12
{
	line-height: 50px;
}

#u1011-3,#u556-2,#u556-6,#u556-10,#u556-14
{
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

#u561-4
{
	z-index: 70;
	width: 349px;
	background-color: transparent;
	line-height: 120px;
	position: relative;
	margin-right: -10000px;
	margin-top: 907px;
	left: 405px;
}

#u1082-4
{
	z-index: 192;
	width: 324px;
	min-height: 50px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 35px;
	line-height: 42px;
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1552px;
	left: 653px;
}

#u1083
{
	z-index: 200;
	width: 116px;
	height: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1530px;
	left: 525px;
	background: transparent url("../images/btn_donar-over-normal.png") no-repeat left top;
	background-size: contain;
}

#u1083:hover
{
	width: 116px;
	height: 93px;
	min-height: 0px;
	margin: 1530px -10000px 0px 0px;
	background: transparent url("../images/btn_donar-over-over.png") no-repeat left top;
	background-size: contain;
}

#u1083:active
{
	width: 116px;
	height: 93px;
	min-height: 0px;
	margin: 1530px -10000px 0px 0px;
	background: transparent url("../images/btn_donar-over-normal.png") no-repeat left top;
	background-size: contain;
}

#pu1005
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u1005
{
	z-index: 9;
	min-height: 694px;
	background-color: #DE3D86;
}

#u892_align_to_page,#u1079_align_to_page,#u949_align_to_page,#u366_align_to_page,#u1005_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1005_position_content
{
	padding-bottom: 534px;
}

#contato
{
	left: 100px;
	position: relative;
}

#u1099-4
{
	z-index: 188;
	width: 921px;
	min-height: 107px;
	border-style: solid;
	border-color: #BF4083;
	background-color: transparent;
	line-height: 120px;
	left: 115px;
	margin-top: 10px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1093-2,#u1093-4,#u1099-2
{
	text-align: left;
	color: #FFFFFF;
}

#u1005-bw
{
	z-index: 9;
	min-height: 694px;
}

#widgetu984
{
	z-index: 78;
	width: 0.01px;
	height: 316px;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 638px;
}

#widgetu994
{
	z-index: 79;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu994.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u997-4
{
	z-index: 80;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u995-4
{
	z-index: 84;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #BF4083;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu994.non-empty-st #u995-4
{
	background-color: #FFFFFF;
}

#widgetu994:hover #u995-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu994.focus-st #u995-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu994.non-empty-st #u995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu994:hover #u995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu994.focus-st #u995-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu986
{
	z-index: 88;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu986.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u987-4
{
	z-index: 89;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u989-4
{
	z-index: 93;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #BF4083;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu986.non-empty-st #u989-4
{
	background-color: #FFFFFF;
}

#widgetu986:hover #u989-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu986.focus-st #u989-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu986.non-empty-st #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu986:hover #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu986.focus-st #u989-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1000-4
{
	z-index: 97;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu984.frm-sub-st #u1000-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 100;
	font-style: italic;
}

#u999-4
{
	z-index: 101;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu984.frm-subm-err-st #u999-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u985-4
{
	z-index: 105;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu984.frm-sub-st #u1000-4,#widgetu984.frm-subm-err-st #u999-4,#widgetu984.frm-subm-ok-st #u985-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu984.frm-subm-ok-st #u985-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u998-17
{
	z-index: 109;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	background: url("../images/u998-17.png") no-repeat 0px 0px;
}

#u998-17:hover
{
	background: url("../images/u998-17-r.png") no-repeat 0px 0px;
}

#u998-17:active
{
	background: url("../images/u998-17-m.png") no-repeat 0px 0px;
}

#widgetu984.frm-sub-st #u998-17
{
	background: url("../images/u998-17-fs.png") no-repeat 0px 0px;
}

#widgetu990
{
	z-index: 126;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu990.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u992-4
{
	z-index: 127;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu994.fld-err-st #u997-4,#widgetu990.fld-err-st #u992-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u993-4
{
	z-index: 131;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #BF4083;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu990.non-empty-st #u993-4
{
	background-color: #FFFFFF;
}

#widgetu990:hover #u993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu990.focus-st #u993-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu990.fld-err-st #u993-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu990.non-empty-st #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu990:hover #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu990.focus-st #u993-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu990_input,#widgetu990_prompt
{
	width: 328px;
	min-height: 68px;
	color: #BF4083;
	font-family: proxima-nova, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu1007
{
	z-index: 135;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: -1px;
}

#widgetu1007.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 230px -10000px 0px 0px;
}

#u1008-4
{
	z-index: 136;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu986.fld-err-st #u987-4,#widgetu1007.fld-err-st #u1008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu994.fld-err-st #u997-4 p,#widgetu994.fld-err-st #u997-4 span,#widgetu986.fld-err-st #u987-4 p,#widgetu986.fld-err-st #u987-4 span,#widgetu990.fld-err-st #u992-4 p,#widgetu990.fld-err-st #u992-4 span,#widgetu1007.fld-err-st #u1008-4 p,#widgetu1007.fld-err-st #u1008-4 span
{
	color: #D7244C;
}

#u1009-5
{
	z-index: 140;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #BF4083;
	line-height: 14px;
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1007.non-empty-st #u1009-5
{
	background-color: #FFFFFF;
}

#widgetu1007:hover #u1009-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1007.focus-st #u1009-5
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu994.fld-err-st #u995-4,#widgetu986.fld-err-st #u989-4,#widgetu1007.fld-err-st #u1009-5
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1007.non-empty-st #u1009-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1007:hover #u1009-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1007.focus-st #u1009-5 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu994.fld-err-st #u995-4 *,#widgetu986.fld-err-st #u989-4 *,#widgetu990.fld-err-st #u993-4 *,#widgetu1007.fld-err-st #u1009-5 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu994_input,#widgetu994_prompt,#widgetu986_input,#widgetu986_prompt,#widgetu1007_input,#widgetu1007_prompt
{
	width: 328px;
	min-height: 14px;
	color: #BF4083;
	font-family: proxima-nova, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu994.focus-st #widgetu994_prompt,#widgetu986.focus-st #widgetu986_prompt,#widgetu990.focus-st #widgetu990_prompt,#widgetu1007.focus-st #widgetu1007_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu994:hover #widgetu994_input,#widgetu994.focus-st #widgetu994_input,#widgetu994.fld-err-st #widgetu994_input,#widgetu994:hover #widgetu994_prompt,#widgetu994.fld-err-st #widgetu994_prompt,#widgetu986:hover #widgetu986_input,#widgetu986.focus-st #widgetu986_input,#widgetu986.fld-err-st #widgetu986_input,#widgetu986:hover #widgetu986_prompt,#widgetu986.fld-err-st #widgetu986_prompt,#widgetu990:hover #widgetu990_input,#widgetu990.focus-st #widgetu990_input,#widgetu990.fld-err-st #widgetu990_input,#widgetu990:hover #widgetu990_prompt,#widgetu990.fld-err-st #widgetu990_prompt,#widgetu1007:hover #widgetu1007_input,#widgetu1007.focus-st #widgetu1007_input,#widgetu1007.fld-err-st #widgetu1007_input,#widgetu1007:hover #widgetu1007_prompt,#widgetu1007.fld-err-st #widgetu1007_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu994.non-empty-st #widgetu994_prompt,#widgetu986.non-empty-st #widgetu986_prompt,#widgetu990.non-empty-st #widgetu990_prompt,#widgetu1007.non-empty-st #widgetu1007_prompt
{
	visibility: hidden;
}

#u269
{
	z-index: 75;
	width: 60px;
	height: 62px;
	border-radius: 65px;
	position: fixed;
	bottom: 31px;
	left: 50%;
	margin-left: 391px;
	background: #FFFF00 url("../images/seta.png") no-repeat center center;
}

#u269:hover
{
	-pie-box-shadow: 2px 9px 27px #999999;
	box-shadow: 2px 9px 27px rgba(0,0,0,0.4);
	background-repeat: no-repeat;
	background-position: center center;
	width: 60px;
	height: 62px;
	min-height: 0px;
	margin: 0px 0px 0px 391px;
}

.js #u269.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u983
{
	z-index: 10;
	height: 809px;
	background-color: #28283C;
}

#u983-bw
{
	z-index: 10;
	margin-top: -667px;
	margin-bottom: -667px;
	height: 809px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

