.quick-actions,
.quick-actions-horizontal,
.stats-plain {
	
  display: inline-block;
  list-style: none outside none;
  margin: 0px 0 0px;
  text-align: center;
  padding: 0;
}
.quick-actions li,
.quick-actions-horizontal li {
background-color:#f3f3f3;
  border: 1px solid #d5d5d5;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
  display: inline-block;
  line-height: 10px;
  margin: 0 8px 8px;
  padding: 0 0px;
}
.quick-actions li {
  min-width: 100px;
}
.quick-actions li a {
  padding: 10px 10px;
}
.quick-actions li a i[class^="icon-"],
.quick-actions li a i[class*=" icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: transparent;
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto 5px;
}
.quick-actions i.icon-book {
  background-image: url('../img/icons/32/book.png');
}
.quick-actions i.icon-cabinet {
  background-image: url('../img/icons/32/cabinet.png');
}
.quick-actions i.icon-cal {
  background-image: url('../img/icons/32/calendar.png');
}
.quick-actions i.icon-client {
  background-image: url('../img/icons/32/client.png');
}
.quick-actions i.icon-database {
  background-image: url('../../view/icons/pata.png');
}
.quick-actions i.icon-download {
  background-image: url('../img/icons/32/download.png');
}
.quick-actions i.icon-graph {
  background-image: url('../img/icons/32/graph.png');
}
.quick-actions i.icon-home {
  background-image: url('../img/icons/32/home.png');
}
.quick-actions i.icon-lock {
  background-image: url('../img/icons/32/lock.png');
}
.quick-actions i.icon-mail {
  background-image: url('../img/icons/32/mail.png');
}
.quick-actions i.icon-pdf {
  background-image: url('../img/icons/32/pdf.png');
}
.quick-actions i.icon-people {
  background-image: url('../../view/icons/14_48x48.png');
}

.quick-actions i.icon-help {
  background-image: url('../../view/icons/Help.png');
}
.quick-actions i.icon-perfil {
  background-image: url('../../view/icons/perfil.png');
}
.quick-actions i.icon-estoque {
  background-image: url('../../view/icons/55_48x48.png');
}
.quick-actions i.icon-proprietario {
  background-image: url('../../view/icons/proprietario.png');
}
.quick-actions i.icon-survey {
  background-image: url('../img/icons/32/survey.png');
}
.quick-actions i.icon-tag {
  background-image: url('../img/icons/32/tag.png');
}
.quick-actions i.icon-user {
  background-image: url('../img/icons/32/user.png');
}
.quick-actions i.icon-wallet {
  background-image: url('../img/icons/32/wallet.png');
}
.quick-actions i.icon-web {
  background-image: url('../img/icons/32/web.png');
}
.quick-actions li,
.quick-actions-horizontal li {
  padding: 0;
}
.quick-actions li a,
.quick-actions-horizontal li a {
  text-align: center !important;
  display: block;
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
}
.quick-actions li:active,
.quick-actions-horizontal li:active,
.quick-actions li:focus,
.quick-actions-horizontal li:focus {
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #eeeeee 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#fff4f4f4', GradientType=0);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}
.quick-actions-horizontal li a span {
  padding: 10px 12px 10px 0px;
  display: inline-block;
}
.quick-actions-horizontal li a i[class^="icon-"],
.quick-actions-horizontal li a i[class*=" icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: -2px 0 0 !important;
  border-right: 1px solid #dddddd;
  margin-right: 10px;
  padding: 0px;
  vertical-align: middle;
}
.quick-actions-horizontal i.icon-book {
  background-image: url('../img/icons/16/book.png');
}
.quick-actions-horizontal i.icon-cabinet {
  background-image: url('../img/icons/16/cabinet.png');
}
.quick-actions-horizontal i.icon-cal {
  background-image: url('../img/icons/16/calendar.png');
}
.quick-actions-horizontal i.icon-client {
  background-image: url('../img/icons/16/client.png');
}
.quick-actions-horizontal i.icon-database {
  background-image: url('../img/icons/16/database.png');
}
.quick-actions-horizontal i.icon-download {
  background-image: url('../img/icons/16/download.png');
}
.quick-actions-horizontal i.icon-graph {
  background-image: url('../img/icons/16/graph.png');
}
.quick-actions-horizontal i.icon-home {
  background-image: url('../img/icons/16/home.png');
}
.quick-actions-horizontal i.icon-lock {
  background-image: url('../img/icons/16/lock.png');
}
.quick-actions-horizontal i.icon-mail {
  background-image: url('../img/icons/16/mail.png');
}
.quick-actions-horizontal i.icon-pdf {
  background-image: url('../img/icons/16/pdf.png');
}
.quick-actions-horizontal i.icon-people {
  background-image: url('../img/icons/16/people.png');
}
.quick-actions-horizontal i.icon-piechart {
  background-image: url('../img/icons/16/piechart.png');
}
.quick-actions-horizontal i.icon-search {
  background-image: url('../img/icons/16/search.png');
}
.quick-actions-horizontal i.icon-shopping-bag {
  background-image: url('http://127.0.0.1/sizo/view/icons/shopping-bag.png');
}
.quick-actions-horizontal i.icon-survey {
  background-image: url('../img/icons/16/survey.png');
}
.quick-actions-horizontal i.icon-tag {
  background-image: url('../img/icons/16/tag.png');
}
.quick-actions-horizontal i.icon-user {
  background-image: url('../img/icons/16/user.png');
}
.quick-actions-horizontal i.icon-wallet {
  background-image: url('../img/icons/16/wallet.png');
}
.quick-actions-horizontal i.icon-web {
  background-image: url('../img/icons/16/web.png');
}

#ajax-overlay, #ajax-overlay_img {
	width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-image: url(../../view/img/ajax-bg.png);
	display: none;
	text-align: center;
	cursor: wait;
}
<!--
#processando {
	position: absolute; /* fixed not supported by IE */
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
	top: 35%;
	left: 40%;
	min-width: 20%;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	color: black;
	padding: 0.4em;
	margin: 10% auto 0 auto;
	box-shadow: 0px 2px 10px #ebebeb;
	z-index:9001;
}

html>body #processando {
	position: fixed;
}

#processando span {
	
	vertical-align: bottom;
}

#canto_redondo {
-moz-border-radius:0px 7px 0px 0px;
-webkit-border-radius:0px 7px 0px 0px;
 border-radius:0px 7px 0px 0px;
}

.checkbox_select{
color: #3c763d;
font-family: FontAwesome;
border: none;
-ms-transform: scale(2); /* IE */
-moz-transform: scale(2); /* FF */
-webkit-transform: scale(2); /* Safari and Chrome */
-o-transform: scale(2); /* Opera */
	
}

.espaco_td{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 6px;
	float:left;
}